<div class="{{classes}}" data-views="{{viewsCount}}">
  {{#if showTitle}}
    <div class="background-title">
      <div class="background-title-wrapper text-background">
        <h2 class="title-text">{{title}}</h2>
        {{{titleConfigPanel}}}
      </div>
    </div>
  {{/if}}
  <div class="background-credits">{{credits}}</div>
  <div class="background-filler"></div>

  {{{background}}}

  <div class="background-swipe-trans-extras">
    <div class="separator-vertical"></div>
    <div class="separator-horizontal"></div>
  </div>

  <div class="foreground">
    {{{foreground}}}
  </div>

  <div class="builder-panel"></div>
  <div class="builder-section-add-menu"></div>
</div>
