<div class="builder-config-panel">
  <div class="panel-scrolling">


    <div class="panel-config-row">

      <div class="options-container panel-scrolling-placement" data-option="position-x">
        <div class="column-label">{{labels.position}}</div>
        <div class="panel-column">
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='left'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelAlignLeft.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='center'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelAlignCenter.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='right'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelAlignRight.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="options-container panel-scrolling-size" data-option="size">
        <div class="column-label">{{labels.size}}</div>
        <div class="panel-column">
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='small'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelWidthNarrow.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='medium'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelWidthMedium.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='large'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelWidthWide.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-config-row">

      <div class="options-container panel-scrolling-theme" data-option="theme">
        <div class="column-label">{{labels.theme}}</div>
        <div class="panel-column">
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='black-over-white'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelThemeLight.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='white-over-black'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelThemeDark.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="options-container panel-scrolling-style" data-option="style">
        <div class="column-label">{{labels.background}}</div>
        <div class="panel-column">
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='background'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelBackgroundFill.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='text-shadow'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelBackgroundShadow.png" />
            </div>
          </div>
          <!--
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-value='auto'>
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelBackgroundAuto.png" />
            </div>
          </div>
          -->
        </div>
      </div>
    </div>

    <div class="row-scrolling column-label">{{labels.layout}}</div>
    <div class="options-container panel-scrolling-layout" data-option="layout">
      <div class="panel-cfg-item">
        <div class="panel-cfg-item-wrapper fa fa-check" data-value='scroll-full'>
          <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelScrollFull.gif" />
        </div>
      </div>
      <div class="panel-cfg-item">
        <div class="panel-cfg-item-wrapper fa fa-check" data-value='scroll-partial'>
          <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/panelScrollPartial.gif" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="builder-config-panel-btn">
  <i class="builder-invite-open fa fa-pencil" aria-hidden="true"></i>
  <i class="builder-invite-close fa fa-check" aria-hidden="true"></i>
</div>
