<div class="{{classes}}" data-views="{{nbViews}}">
  <div class="wrapper">

    {{{background}}}

    <div class="foreground">
      <div class="foo">
        <div class="title-error-container hidden">
          <div class="title-error-message">Save failed, you already have an item with this title</div>
        </div>
        <h1 class="cover-title">{{title}}</h1>
        <!--<span class="cover-title-mock-cursor"></span>-->
        <h2 class="cover-subtitle">{{subtitle}}</h2>
      </div>

      <div class="cover-media-placeholder">
        <div class="cover-media-placeholder-wrapper">
          <i class="fa fa-picture-o ph-icon-media" aria-hidden="true"></i>
          <div class="cover-media-placeholder-label">{{mediaPlaceholder}}</div>
        </div>
      </div>
    </div>

    <div class="scroll-invite">
      <div class="scroll-invite-btn"></div>
    </div>

    <div class="cover-credits-left">{{creditsLeft}}</div>
    <div class="cover-credits-right">{{creditsRight}}</div>
  </div>
</div>
