<div class="{{classes}}" data-views="{{nbViews}}">
  <div class="wrapper">

    {{{background}}}

    <div class="foreground">
      <div class="foo">
        <div class="title-error-container hidden">
          <div class="title-error-message">{{strings.saveError}}</div>
        </div>
        <div class="text-background">
          <h1 class="cover-title title-text">{{title}}</h1>
          <!--<span class="cover-title-mock-cursor"></span>-->
          {{#if showSubtitle}}
            <h2 class="cover-subtitle title-text">{{subtitle}}</h2>
          {{/if}}
        </div>
      </div>

      <div class="cover-media-placeholder">
        <div class="cover-media-placeholder-wrapper">
          <i class="fa fa-picture-o ph-icon-media" aria-hidden="true"></i>
          <div class="cover-media-placeholder-label">{{strings.mediaPlaceholder}}</div>
        </div>
      </div>
    </div>

    <div class="scroll-invite">
      <div class="scroll-invite-btn"></div>
    </div>

    <div class="foreground ios-embed-link">
      <div class="text-background">
        <h4 class="title-text">{{strings.iosEmbedLink}}</h4>
      </div>
    </div>

    <div class="cover-credits-left">{{creditsLeft}}</div>
    <div class="cover-credits-right">{{creditsRight}}</div>
  </div>
</div>
