<div class="modal-dialog hc-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<div class="toggles">
        <div class="toggle selected" data-tab="logo-sharing">{{toggles.logoSharing}}</div>
        <div class="toggle" data-tab="bookmarks">{{toggles.bookmarks}}</div>
        <div class="toggle" data-tab="theme">{{toggles.theme}}</div>
      </div>
		</div>
		<div class="modal-body">
	    <div class="modal-tab selected" data-tab="logo-sharing"></div>
      <div class="modal-tab" data-tab="bookmarks"></div>
			<div class="modal-tab" data-tab="theme"></div>
		</div>
		<div class="modal-footer">
      <button type="button" class="btn btn-primary btn-close apply">{{dialog.apply}}</button>
			<button type="button" class="btn btnCancel btn-naked btn-close" data-dismiss="modal">{{notification.cancel}}</button>
		</div>
	</div>
</div>
