<div class="{{classes}}" id="{{id}}">

  {{{background}}}

  <div class="foreground">
    <div class="text-background">
      <h1 class="fg-title title-text text-shadow">{{title}}</h1>
    </div>
  </div>

  <div class="fg-credits">{{credits}}</div>
  <div class="builder-section-add-menu"></div>
</div>
