<div class="{{classes}}" id="{{id}}">

  {{{background}}}

  <div class="foreground">
    {{#if showTitle}}
      <div class="text-background">
        <h1 class="fg-title title-text">{{title}}</h1>
      </div>
    {{/if}}
  </div>

  <div class="fg-credits">{{credits}}</div>
  <div class="builder-section-add-menu"></div>
</div>
