<div id="{{id}}" class="block block-audio" contenteditable="false">
  <figure class="block-media">
    <div class="media-media media-item audio">
      <audio type="{{mimeType}}" preload="metadata" controls controlsList="nodownload" src="{{url}}">
        <a href="{{url}}">{{url}}</a>
      </audio>
    </div>
    <div class="builder-ui media-cfg-invite"></div>
    <div class="builder-ui media-delete"></div>
  </figure>
  <figcaption class="block-caption" data-placeholder="{{placeholder}}" contenteditable="{{captionEditable}}">{{{caption}}}</figcaption>
  <div class="builder-ui media-cfg-panel"></div>
</div>
