<div id="{{domId}}" class="block block-type-video" contenteditable="false">
  <div class="block-media">
    <div class="media-loading">
      <span class="large-loader"></span>
    </div>
    <div class="media-media video video-fg video-player" data-id="{{videoId}}"></div>
    <div class="builder-ui media-cfg-invite"></div>
  </div>
  <div class="block-caption" data-placeholder="{{placeholder}}" contenteditable="{{captionEditable}}">{{{caption}}}</div>
  <div class="builder-ui media-cfg-panel"></div>
</div>
