<div id="{{domId}}" class="block block-type-video" contenteditable="false">
  <figure class="block-media">
    <div class="media-loading">
      <span class="large-loader"></span>
    </div>
    <div class="media-media media-item video video-fg video-player" data-id="{{videoId}}"></div>
    <div class="builder-ui media-cfg-invite"></div>
    <div class="builder-ui media-delete"></div>
  </figure>
  <figcaption class="block-caption" data-placeholder="{{placeholder}}" contenteditable="{{captionEditable}}">{{{caption}}}</figcaption>
  <div class="builder-ui media-cfg-panel"></div>
</div>
