<div class="media-loading">
  <span class="large-loader"></span>
</div>
<div id="{{domId}}" class="video-viewport">
  <div class="media-media media-item video video-player" data-id="{{videoId}}" aria-label="{{altText}}"></div>
</div>
<button type="button" class="btn btn-link toggle-mute-button" data-placement="left" data-trigger="hover" data-title="{{muteUnmuteString}}" aria-label="{{muteUnmuteString}}">
  <span class="toggle-mute-icon glyphicon glyphicon-volume-off"></span>
</button>

<div class="builder-ui media-cfg-invite"></div>
<div class="builder-ui media-cfg-panel"></div>
