<div class="builder-config-section issues">
  <div class="section-content horizontal">
    <div class="issue-summary{{#if isMap}} map-issue-summary{{/if}}">

      <div id="{{carouselId}}" class="issue-summary-wrapper carousel slide" data-interval="false" data-wrap="false" data-ride="carousel">

        <!-- Indicators if needed -->
        {{#if needsCarousel}}
          <ol class="carousel-indicators">
            {{#each issueMessages}}
              <li data-target="#{{../carouselId}}" data-slide-to="{{index}}"></li>
            {{/each}}
          </ol>
        {{/if}}

        <!-- Content -->
        <div class="carousel-inner {{#if needsCarousel}}is-carousel{{/if}}">
          {{#each issueMessages}}
            <div class="single-issue-summary item{{#if isError}} error{{else}} warning{{/if}}" data-target="#{{../carouselId}}" data-slide-to="{{index}}">
              <div class="title-wrapper">
                <div class="title">{{banner}}</div>
                <div class="description">{{description}}</div>
              </div>
              {{#if button}}
                <div class="fix-btn btn btn-primary">
                  <span class="small-loader hidden"></span>
                  <span>{{button}}</span>
                </div>
              {{/if}}
              {{#if tooltip}}
                <div class="media-info">
                  <div class="media-info-background"></div>
                  <i class="fix-tooltip fa fa-info-circle" aria-hidden="true" title="{{tooltip}}" data-link={{helpLink}}></i>
                </div>
              {{/if}}
            </div>
          {{/each}}
        </div>

        <!-- arrows if needed -->
        {{#if needsCarousel}}
          <div class="carousel-control left" href="#{{carouselId}}" role="button" data-slide="prev">
            <span class="fa fa-arrow-left arrow icon-prev"></span>
          </div>
          <div class="carousel-control right" href="#{{carouselId}}" role="button" data-slide="next">
            <span class="fa fa-arrow-right arrow icon-next"></span>
          </div>
        {{/if}}

      </div>
    </div>
    {{{issueItemsTemplate}}}
  </div>
</div>
