<div class="webscene-name">{{sceneName}}</div>

<div class="builder-config-section larger">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="swap">
      <div class="edit-media-icons">
        <i class="fa fa-image icon-image"></i>
        <i class="fa fa-globe icon-globe"></i>
        <i class="fa fa-map icon-map"></i>
        {{strings.changeMedia}}
      </div>
    </div>
    <div class="image-preview">
      <div class="overlay">
        <span class="icon">{{strings.edit}}</span>
        <span class="icon">{{strings.remove}}</span>
      </div>
    </div>
  </div>
</div>
<div class="builder-config-section larger">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="edit" data-toggle="tooltip" data-placement="top" title="{{strings.editAside}}">
      <i class="config-icon fa fa-external-link"></i>
      {{strings.edit}}
    </div>
  </div>
</div>
<div class="builder-config-section">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="remove">
      <i class="config-icon fa fa-trash-o"></i>
      {{strings.remove}}
    </div>
  </div>
</div>

<div class="alt-text-container">
    <span class="config-icon alt-text-icon fa fa-lg fa-universal-access" data-toggle="tooltip" data-placement="top" title="{{strings.altTextHelptip}}"></span>
    <textarea class="alt-text-text" rows="1" placeholder="{{strings.altTextPlaceholder}}">{{altText}}</textarea>
</div>
