<!--<div class="builder-config-section">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="upload-image">
      Upload Alternate Image for Mobile
    </div>
    <div class="image-preview">
      <div class="overlay">
        <span class="icon">Edit</span>
        <span class="icon">Remove</span>
      </div>
    </div>
  </div>
</div>-->

<div class="webmap-name">{{mapName}}</div>

<div class="builder-config-section larger">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="swap">
      <img class="edit-media-icon" src="resources/tpl/builder/icons/media-config/edit-media.png" />
      {{strings.changeMedia}}
    </div>
  </div>
</div>
<div class="builder-config-section larger">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="edit">
      <i class="config-icon fa fa-external-link"></i>
      {{strings.edit}}
    </div>
  </div>
  <span class="aside">{{strings.editAside}}</span>
</div>
<div class="builder-config-section">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="remove">
      <i class="config-icon fa fa-trash-o"></i>
      {{strings.remove}}
    </div>
  </div>
</div>
