<div class="builder-config-section size-image">
  <ul class="section-content horizontal">
    <li class="config-item" data-type="size" data-value="small">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/small.png">
      <span class="config-label">{{strings.small}}</span>
    </li>
    <li class="config-item" data-type="size" data-value="medium">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/medium.png">
      <span class="config-label">{{strings.medium}}</span>
    </li>
    <li class="config-item" data-type="size" data-value="large">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/large.png">
      <span class="config-label">{{strings.large}}</span>
      <div class="section-content crop-tall centered">
        <span class="tall-crop-info fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{strings.noCropTallTooltip}}"></span>
        <label class="check"><input class="crop-tall-checkbox" type="checkbox" value="fit"> {{strings.noCrop}}</label>
      </div>
    </li>
  </ul>
</div>
