<div class="builder-config-section">
  <h4 class="title">{{strings.view}}</h4>
  <ul class="section-content vertical-list">
    <li class="config-item btn btn-gray disabled" data-type="reset" data-value="location">{{strings.resetLocation}}</li>
    <li class="config-item btn btn-gray disabled" data-type="reset" data-value="layers">{{strings.resetLayers}}</li>
    <li class="config-item btn btn-gray disabled" data-type="reset" data-value="popup">{{strings.clearPopup}}</li>
  </ul>
</div>
<div class="builder-config-section larger">
  <h4 class="title">{{strings.interaction}}</h4>
  <ul class="section-content vertical-list">
    <li class="config-item btn btn-gray" data-type="interaction" data-value="disabled">{{strings.interactionDisabled}}</li>
    <li class="config-item btn btn-gray" data-type="interaction" data-value="button">{{strings.buttonToEnable}}</li>
    <li class="config-item btn btn-gray" data-type="interaction" data-value="enabled">{{strings.interactionEnabled}} <sup style="vertical-align: 0;">*</sup></li>
  </ul>
  <span class="aside">{{strings.interactionAside}}</span>
</div>
<!--<div class="builder-config-section">
  <h4 class="title">Pop-Ups</h4>
  <ul class="section-content vertical-list">
    <li class="config-item btn btn-gray" data-type="popup" data-value="disabled">Disabled</li>
    <li class="config-item btn btn-gray" data-type="popup" data-value="enabled">Enabled</li>
  </ul>
</div>
<div class="builder-config-section">
  <h4 class="title">Extras</h4>
  <ul class="section-content vertical-list checkmarks">
    <li class="config-item btn btn-gray" data-type="extra" data-value="legend">
      <label class="check"><input type="checkbox" value="legend"> Legend</label>
    </li>
    <li class="config-item btn btn-gray" data-type="extra" data-value="search">
      <label class="check"><input type="checkbox" value="search"> Search</label>
    </li>
    <li class="config-item btn btn-gray" data-type="extra" data-value="locate">
      <label class="check"><input type="checkbox" value="locate"> Locate</label>
    </li>
  </ul>
</div>-->
