<div class="builder-config-section no-spread">
  <h4 class="title">{{strings.interaction}}</h4>
  <ul class="section-content vertical-list">
    <li class="config-item btn btn-gray" data-type="interaction" data-value="disabled">{{strings.interactionDisabled}}</li>
    <li class="config-item btn btn-gray" data-type="interaction" data-value="button">{{strings.buttonToEnable}}</li>
    <li class="config-item btn btn-gray" data-type="interaction" data-value="enabled">{{strings.interactionEnabled}} <sup style="vertical-align: 0;">*</sup></li>
  </ul>
  <span class="aside">{{strings.interactionAside}}</span>
</div>
